[2018-08-02 18:56] castrojo opened #2 "Need a release dashboard"
We should help the release team by making contributor.k8s.io/release a useful place.

Currently the release team uses a bit.ly link to point people to the right place. http://bit.ly/k8s112-release-info

Ideas for things to include on this page (please include more!):

- A banner up top "We are currently in: $STATE". Freeze, slush, etc. with a link to what each of those terms mean.
- A clever way t

[2018-08-02 18:57] castrojo opened #3 "Contributing footer"
Each page should generate a link in the footer that takes the user to the right page in the community repo to submit fixes/edits.

[2018-08-02 19:29] castrojo opened #4 "Site will need search functionality"
We need to figure out how to use a search engine effectively for the site.

[2018-08-02 21:01] mrbobbytables commented on #3
For this we'll want to get a good idea of the content folder structure first. With the files are being moved around and renamed to be more site friendly, the inverse set of rules will need to be added to the footer template.

[2018-08-08 20:52] castrojo opened #8 "KEP section improvements"
We need to figure out a way to ingest KEP metadata so that we can show open keps, keps that have been implemented, etc.

https://www.python.org/dev/peps/ wouldn't be a bad place to start inspiration-wise.

[2018-08-08 21:00] castrojo opened #9 "SIG URL should be shortened"
https://contributor.kubernetes.io/special-interest-groups/sig-cluster-lifecycle/ is too much of a mouthful.

Some options for discussion:

- https://contributor.kubernetes.io/sig/sig-cluster-lifecycle/
- https://contributor.kubernetes.io/sig/cluster-lifecycle/
- https://contributor.kubernetes.io/sig-cluster-lifecycle/

[2018-08-08 22:49] mrbobbytables commented on #9
By default, both the urls and the titles of each section (as displayed in the menu on the left) are tied to the directory structure laid out in the content directory.

The display side of this is overridable by modifying the `title` portion of the front matter in the  `_index.md` files found within those directories.

For example, if we want to preserve the menu wording (`special-interest-groups`)

[2018-08-09 01:07] mrbobbytables opened #11 "Some relative reference style links are not being corrected"
Some reference style links are not currently being detected by any of the sub_links regexes:

**Example 1:**
Reference link `[Community Membership]` on [kubernetes/community/README.md](https://raw.githubusercontent.com/kubernetes/community/master/README.md) Currently points to `https://contributor.kubernetes.io/community-membership.md`

**Example 2:**
Reference link `[OWNERS]` on [kubernetes/commu

[2018-08-09 14:43] castrojo opened #13 "Umbrella issue for broken links"
Running a hosted 404 link checker or a CLI tool like linkchecker finds lots of 404's and out of date links on k/community.

We're going to need to sort out which ones are generator inflicted, and then which ones are just out of date/broken in the repo itself.

We should then come up with a plan to socialize how people can help fix/update these links. This should be tied into a new contributor ramp

[2018-08-09 14:43] castrojo commented on #13
linkchecker reports: That's it. 420217 links in 1043 URLs checked. 1 warning found. 772 errors found.

[2018-08-09 15:13] parispittman opened #14 "Sidebar nav suggested changes"
The sidebar navigation should have only 4-5 options and have titles changed to more umbrella like topics.

Examples:

- committee-steering should be steering commitee and be lumped under 'Governance' along with community membership, governance, and sig governance.
- kubernetes mentoring initiative should just be mentoring
- keps should probably be spelled out
- working groups and sigs are ultimate

[2018-08-09 15:16] parispittman opened #15 "Events"
Most of the items in the events section should not be displayed here. How can we import a calendar feature? Could we generate a calendar from sigs.yaml since thats where they display the times/dates? The problem with that is hosts for those meetings won't be able to change their times if they cancel a meeting, reschedule, etc. We would also need a way to import contributor events not sig/wg meetin

[2018-08-09 15:21] castrojo commented on #13
See also: https://github.com/kubernetes/community/issues/359

[2018-08-14 23:54] mrbobbytables commented on #4
Something we should consider when implementing the search functionality is the integration of an alternate search engine for Chinese users.

This is currently being discussed (with bing being the preferred alternative) over in k/website:

https://github.com/kubernetes/website/issues/9635

[2018-08-15 00:30] whs-dot-hk commented on #4
I speak chinese what can I do to help?

[2018-08-15 02:45] mrbobbytables commented on #4
@whs-dot-hk Currently, the site does not have search functionality.

The theme currently being used **does** have an integrated search capability, but it drastically increases page load time =/ and has since been disabled (Long story short, every page winds up loading the entire site...about 4MB of extra content for EVERY page).

Ideally the contributor-site would mimic https://kubernetes.io with

[2018-08-20 16:18] mrbobbytables opened #21 "Netlify cacheing old content"
Netlify is aggressive with their cacheing of build dependencies. This can cause the cloned community repo to **not** be pulled as it is already there on disk.

Proposed Solution:
When executing out of a build context, perform a fetch/pull if the repo is already found on disk.

/assign

[2018-08-21 15:20] #21 closed

[2018-09-25 16:26] castrojo opened #25 "KEPs need to be sorted by number, not alphabetically"
See: https://github.com/kubernetes/community/pull/2655#issuecomment-423854849

[2018-09-25 16:58] castrojo commented on #25
Ok summarizing slack:

We sort by title currently because that shows up best in the theme in the sidebar. We can sort by filename to get it to sort by KEP but then the theme won't show a pretty title on the sidebar. We need to figure out how to sort the sidebar according to `kep-number` in the kep metadata.

[2018-09-25 18:03] castrojo commented on #25
Ok so I think having each KEP in a sidebar probably won't scale.

Eric mentioned the three main elements. That should be the sidebar, a link to:
-  keps/ (KEPs)
-  design-proposals/ (historical design proposals from https://git.k8s.io/community/contributors/design-proposals)
- arch[itecture]|design/ (design principles of Kubernetes, derived from reorganizing https://git.k8s.io/community/contributo

[2018-09-25 18:11] castrojo opened #26 "Add design proposals and architecture designs"
Need to add:

- design-proposals/ (historical design proposals from https://git.k8s.io/community/contributors/design-proposals)
- arch[itecture]|design/ (design principles of Kubernetes, derived from reorganizing https://git.k8s.io/community/contributors/devel, mentioned here)

We turned these off on the contributor site because they are just a pile of markdown files with lots of broken links, etc

[2018-10-06 23:55] mrbobbytables commented on #3
I gave this some thought. Probably the easiest way to go about this will be to inject the original url as a frontmatter attribute **before** reorganizing content. It means the url doesn't have to be generated following a set of reverse rules, and if content organization changes it the rules wouldn't have to be updated.

What this means work wise:
* when executing in a build context (`HUGO_BUILD=tr

[2018-10-24 00:23] #25 closed, assigned to nobody

[2018-10-24 00:58] mrbobbytables commented on #3
The attribute `original_url` has been added to the frontmatter for every page. This should be doable now with updating the footer to reference that value.

[2018-10-24 00:59] mrbobbytables commented on #11
fixed by #29

[2018-10-24 00:59] #11 closed

[2018-10-30 14:06] #3 closed

[2018-11-01 14:33] #26 closed

[2018-11-01 14:36] mrbobbytables commented on #13
With the recent updates, we're down to a small subset of broken links with most of them tied to bad links within the community repo itself.

[2018-11-07 23:03] mrbobbytables commented on #8
Just for additional information -- the KEP info page is blocked until the keps themselves are migrated and metadata made consistent. For more information, see the KEP migration umbrella Issue:  https://github.com/kubernetes/enhancements/issues/617

[2018-11-09 18:33] castrojo opened #38 "We need to surface sig-release's content"
I missed this one, sig-release has a bunch of content that needs to be surfaced, it's not in k/community so we should find a way to integrate this, especially the security team stuff.

https://github.com/kubernetes/community/pull/2911/files#r232017450

[2018-11-09 19:02] parispittman opened #39 "display a contributors wanted dashboard"
have a green-yellow-red dashboard for new and current contributors to look for other sigs/wgs to join that may be actively recruiting more. sig/wg name - status light.

Green light would be tied to having good-first-issue and/or help-wanted labels
Yellow light would be tied just help-wanted (ie - likely better for casual and other contributors with experience)
Red light would be no use of either l

[2018-11-09 19:02] parispittman commented on #39
also have the link or display the contributor role board for the other nonGH related positions

[2019-04-20 01:00] mrbobbytables commented on #13
closing this as we're starting from scratch
/close

[2019-04-20 01:00] #13 closed

[2019-04-20 01:02] mrbobbytables commented on #14
closing this as we're starting from scratch
/close

[2019-04-20 01:02] #14 closed

[2019-04-20 01:10] mrbobbytables opened #45 "google calendar api key"
AIs
- [ ] Document use and outline scope of api key used for calendars
- [ ] Request api key from gsuite account (current is personal and for testing purposes)
- [ ] Replace API key.

/assign

[2019-04-20 01:17] mrbobbytables commented on #45
As a note if it does come up:
- It is restricted to the calendar API.
- It's access is restricted to referrers from: `https://kubernetes-contributor.netlify.com/calendar/`
- It follows the docs for the calendar framework being used: https://fullcalendar.io/docs/google-calendar

[2019-04-25 01:02] mrbobbytables commented on #2
/remove-lifecycle stale

[2019-04-25 02:05] mrbobbytables commented on #15
/remove-lifecycle stale

[2019-04-25 17:47] castrojo commented on #4
/remove-lifecycle stale

[2019-04-26 15:55] castrojo opened #51 "YouTube video embeds need to be sized properly"
Need to adjust the embedded youtube tag so it doesn't autowiden the video based on browser width.

[2019-04-26 17:35] castrojo commented on #39
Initial PR links to the role board from the root, but perhaps something slicker and embedable.

https://github.com/kubernetes-sigs/contributor-site/pull/50

[2019-04-29 14:57] parispittman opened #56 "[content] contributor changelog & news"
can we pull in all of the changes that we are proposing and those that are landing in a contributor changelog - could use k-dev for this automation? could be a 'news' section and that's one of the sections. in a news area, could also pull in the chairs/tls email, any changes that are made to sigs.yaml (new groups, chairs, etc.).

[2019-04-29 21:23] parispittman opened #57 "[content] Contributor Growth"
A few sections for this one:

1 - introduction to the contributor ladder and owners files with a canonical link to the definitions
(this comes up several times throughout the [content strategy doc](https://docs.google.com/document/d/1_4qnfu5kNCxfO3yjaoBO6LM9KfqxGC4HnAvVakIQM-I/edit?usp=sharing); folks don't know what membership is, how to get to the next ladder, etc.)

2 - high level summary of me

[2019-04-29 21:33] parispittman opened #58 "[content] stuff to surface that all contributors need"
Info that needs to be surfaced for everyone.

- [ ] code of conduct,
- [ ] link back to community site,
- [ ] contributor meetings calendar
- [ ] youtube feed for sig meetings, meet our contributors, public steering meetings, community meeting
- [ ] how we communicate/ask for help

Taking from [this doc](https://docs.google.com/document/d/1_4qnfu5kNCxfO3yjaoBO6LM9KfqxGC4HnAvVakIQM-I/edit?usp=shari

[2019-04-29 21:38] parispittman opened #59 "[content] stuff to surface for new contributors"
how to get started/what sig do I join?,
- [ ] development.md (source: survey)
- [ ] Contributor guide
- [ ] Finding issues to work on (source: survey)
- [ ] curated communication channels aimed at getting help (#pr-reviews, #meet-our-contributors, etc.)

mentoring opportunities, (source: survey, focus groups)
- [ ] Meet our contributors
- [ ] Gsoc
- [ ] Outreachy
- [ ] Contributors playground / li

[2019-04-29 21:43] parispittman opened #60 "[content] stuff to surface for current contributors"
- [ ] api-conventions.md (source: gh issues, focus groups)
- [ ] Test debugging docs and other general testing/ci docs (source: survey)
- [ ] Other Devel doc links as resources - maybe list a table of contents? the devel README? (source: survey, gh issues)
- [ ] how to contribute to docs / release notes
- [ ] community-membership.md (source: survey)
- [ ] About contributor experience (source: surv

[2019-04-29 21:53] parispittman opened #61 "[research] other contributor sites"
Special thanks to @jberkus for collecting this information.

[Mozilla](https://www.mozilla.org/en-US/contribute/) - goodness included multiple paths for engagement including things like "follow us on twitter" which (AFAIC) are a lovely "stepping up" to contribution pathway; up-to-date events list; the "easy" interface here (https://www.mozilla.org/en-US/contribute/signup/); this page https://www.m

[2019-04-30 13:33] #51 closed

[2019-04-30 13:39] mrbobbytables commented on #38
/remove-lifecycle stale

[2019-04-30 13:39] mrbobbytables commented on #8
/remove-lifecycle stale

[2019-04-30 13:45] castrojo opened #62 "Content missing after a youtube embed url"
All the pages using a youtube shortcode don't render content after the embedded video.

[2019-04-30 13:45] castrojo commented on #62
/asssign @lucperkins

[2019-04-30 16:36] #62 closed

[2019-05-01 17:05] castrojo opened #65 "Link to list of SIGs from calendar page"
Also wouldn't hurt to link to SIG calendar pages so they know where to update their calendar entries

/assign

[2019-06-03 17:54] parispittman commented on #60
confirming with github analytics against the community repo that we should definitely surface api-conventions as a first class piece of content on the site. in order of highest views:
api-convention.md
Entire community repo
Architecture
Horizontal pod autoscaler
Entire devel folder
Sig list
Contributor guide
Resource metrics api

[2019-07-19 09:40] mrbobbytables commented on #45
/remove-lifecycle stale

[2019-07-23 21:53] celanthe commented on #57
Per a conversation with @parispittman--I am going to be taking this on. :)

[2019-07-23 21:54] celanthe commented on #58
Per a conversation with @parispittman--I am going to be taking this on. :)

[2019-07-23 21:54] celanthe commented on #59
Per a conversation with @parispittman--I am going to be taking this on. :)

[2019-07-23 21:54] celanthe commented on #60
Per a conversation with @parispittman--I am going to be taking this on. :)

[2019-07-24 11:20] mrbobbytables commented on #15
/remove-lifecycle stale

[2019-07-24 11:21] mrbobbytables commented on #2
/remove-lifecycle stale

[2019-07-24 18:24] mrbobbytables commented on #4
/remove-lifecycle stale

[2019-07-25 22:54] mrbobbytables commented on #39
/remove-lifecycle stale

[2019-07-26 18:06] celanthe commented on #60
/assign @celanthe

[2019-07-26 18:07] celanthe commented on #59
/assign @celanthe

[2019-07-26 18:07] celanthe commented on #58
/assign @celanthe

[2019-07-26 18:07] celanthe commented on #57
/assign @celanthe

[2019-07-29 14:38] parispittman commented on #61
/remove-lifecycle stale

[2019-07-29 14:40] parispittman commented on #56
/remove-lifecycle stale

[2019-07-31 17:10] cblecker opened #67 "Events is a blank page"
https://kubernetes-contributor.netlify.com/events/ is a blank page

[2019-07-31 17:12] cblecker opened #68 "Home page needs content"
https://kubernetes-contributor.netlify.com/

cc: @parispittman

[2019-08-02 22:05] cblecker opened #69 "Contributor summit link has schedule for Barcelona"
https://kubernetes-contributor.netlify.com/events/contributor-summit/2019-barcelona/

This is in the past

[2019-08-02 22:06] cblecker opened #70 "meet our contributors has an old video"
https://kubernetes-contributor.netlify.com/events/meet-our-contributors/

Old video. Perhaps a youtube playlist would be better?

[2019-08-02 22:08] cblecker opened #71 "coc: display coc"
The Code of Conduct link points directly to the code-of-conduct.md in the community repo. Is it possible to render that file in Hugo?

[2019-08-02 22:44] cblecker opened #72 "role board link"
This link takes you off site. Is it possible to display an icon (e.g. https://icons8.com/icons/set/external-link) to denote that it's an external link?

[2019-08-06 16:56] jberkus commented on #68
This needs to start with deciding what *should* be on the home page.

My vote here is task-based navigation, e.g.:

Welcome to Kubernetes Contributors!  What are you here for?

- New to the project and wanting to learn how to contribute

- Looking up information on specific policies, procedures, and documents

- Reviewing current contributions

- Looking for articles, events, and contributor activ

[2019-08-07 18:07] chris-short commented on #68
+1

[2019-08-07 18:09] parispittman commented on #68
listing the what are you here for when we don't have those pages yet could get difficult - or we will need to link to the community repo.

i would rather have a homepage that lists what we are doing with the site (goals), what people can look for in the next iteration, and a call to action of some sort. maybe pictures and friendly stuff. clean and simple. and then have the contrib guide, events, a

[2019-08-07 18:15] chris-short commented on #68
If we want to surface things then perfect. But, the up next for the site itself I feel could be kept to a blog post or issues/PRs. It sounds a little under construction-y and aspirational goals aren't going to surface anything but, a project board or issue filter would.

[2019-08-08 23:10] jberkus commented on #68
But we *do* have a lot of that information.  It's just that most of it is scattered about.

Anyway, the important question was whether task-based navigation was where we wanted to go for the home page.  Role-based navigation could also work, although I kinda feel like that'll point to a lot more material we don't already have.

I'm not keen on a home page that doesn't have immediate links to thing

[2019-08-09 13:49] castrojo commented on #65
/remove-lifecycle stale

[2019-09-27 16:01] #8 closed

[2019-09-27 16:01] #38 closed

[2019-10-17 11:58] mrbobbytables commented on #45
/remove-lifecycle stale

[2019-10-28 11:55] mrbobbytables commented on #2
/remove-lifecycle stale

[2019-10-28 11:55] mrbobbytables commented on #4
/remove-lifecycle stale

[2019-10-28 11:58] mrbobbytables commented on #39
I think this is fixed by linking to the role board. Going to go ahead and close.
/close

[2019-10-28 11:58] #39 closed

[2019-10-28 11:59] mrbobbytables commented on #15
/remove-lifecycle stale

[2019-10-28 12:02] mrbobbytables commented on #61
/remove-lifecycle stale

[2019-10-28 12:03] mrbobbytables commented on #60
Specific content can be imported pretty easily. The scripts are in place, the documentation though is not 😬 I'll create an issue to update that.

/remove-lifecycle stale

[2019-10-28 12:03] mrbobbytables commented on #59
/remove-lifecycle stale

[2019-10-28 12:04] mrbobbytables commented on #58
/remove-lifecycle stale

[2019-10-28 12:04] mrbobbytables commented on #57
/remove-lifecycle stale

[2019-10-28 12:11] mrbobbytables commented on #56
I'm not sure how much we can automate with this. It's very difficult to automatically pick things that are _'news worthy'_.  As an example for picking up sigs.yaml changes, you could use git log, but the content itself would simply be the git commit messages and you'd get a mix of things like:
[code]

/remove-lifecycle stale

[2019-10-28 18:14] parispittman commented on #56
could we automate it to the point were its a stream of things that someone can approve/reject/modify? and then it would save time manually looking at all of those places to curate something.

[2019-10-28 19:45] parispittman commented on #56
ok then ill type up a list of things that someone will need to manually check on a weekly basis to pull in for curation

[2019-11-01 11:59] #69 closed

[2019-11-01 12:23] #70 closed

[2019-11-05 01:33] vishakhanihore commented on #60
Hello, @mrbobbytables and @parispittman , I am outreachy applicant and have applied for `Technical Writer`, Can I start contributing to this issue, since there is around a month in results 😄 ?

[2019-11-05 15:52] celanthe commented on #60
I'm happy to let @vishakhanihore contribute to this as well @parispittman @mrbobbytables -- It would be nice to have some help! :)

[2019-11-06 09:39] whs-dot-hk opened #80 "Found extra line in layout sidebar"
Here

https://github.com/kubernetes-sigs/contributor-site/blob/637dc50cd5bfb1aa12247fe588b0107573014097/layouts/partials/sidebar.html#L32

[2019-11-06 10:12] whs-dot-hk opened #81 "Weird layout on a smaller screen"
Hi,

I have encounter weird layout

which I am trying to debug right now

![Screenshot_2019-11-06 Kubernetes Contributors Kubernetes Contributor Guide](https://user-images.githubusercontent.com/35202375/68289340-e55cb380-00c0-11ea-9bc5-799dd817a8fb.png)

Hope someone could help

[2019-11-06 23:47] cblecker commented on #68
/remove-lifecycle stale

[2019-11-07 13:49] #80 closed

[2019-11-08 03:45] whs-dot-hk commented on #81
/assign @whs-dot-hk

[2019-11-08 22:05] #81 closed

[2019-11-18 17:52] celanthe commented on #58
Hi @parispittman -- Wanted to circle back on this with yourself and maybe @mrbobbytables once things calm down a bit, see if we can hammer out some next steps. :)

[2019-11-18 17:54] celanthe commented on #57
Hi @parispittman -- Hope we can circle back on this after KubeCon when things calm down a bit. Just a note-- @mrbobbytables had mentioned that we may be able to streamline this a bit via sourcing content from other repos where we can. I would love your thoughts there.  :)

[2019-11-18 18:01] celanthe commented on #60
Hi all, just an update, wanted to circle back with @parispittman @mrbobbytables about having @vishakhanihore and I collaborate on this with y'all once things calm down a bit after KubeCon! :) If that sounds good, let me know! :) Looking forward to it and thanks so much!

[2019-12-16 05:16] nikhita commented on #65
/remove-lifecycle rotten

[2019-12-16 05:16] nikhita commented on #67
/remove-lifecycle stale

this is still true

[2019-12-24 20:42] vishakhanihore commented on #15
/lifecycle frozen

[2019-12-29 05:47] vishakhanihore commented on #67
/lifecycle frozen

[2020-01-03 16:49] cblecker commented on #72
/remove-lifecycle stale

[2020-01-04 13:03] vishakhanihore opened #86 "Revamping the Contributor Guide Section"
For the first pass as we can see on https://kubernetes-contributor.netlify.com/guide/ , We have imported the complete `Community/Contributor/Guide` directory. This may be a lot to digest for a new contributor who just wants to get started with his contributions. We must revamp the current Contributor Guide getting presented as on the website into much simpler and easy to navigate.
Some of the poin

[2020-01-04 22:42] parispittman commented on #86
agreed that its way too much content for a single page. the pages that are to the left nav side bar are also arbitrary - I would rather those show things like 'your first contribution'.

what if it was more of a descriptive table of contents (adding a short description of what each page is/what the reader would get from it) and then links out to the respective github pages?

[2020-01-08 10:45] #72 closed

[2020-01-15 13:00] mrbobbytables commented on #45
/lifecycle frozen

[2020-01-17 00:19] mrbobbytables commented on #56
/cc @nimbinatus

[2020-01-17 00:34] mrbobbytables commented on #2
For now I think a link a link to the current release page would be sufficient as an MVP - say for the 1.18 release cycle it'd link here:
https://git.k8s.io/sig-release/releases/release-1.18#timeline

We'd bump it to 1.19 after 1.18 is cut.

[2020-01-17 15:03] nimbinatus commented on #4
Thought on this one: Most static site generators can generate a sitemap. If Hugo can generate a JSON sitemap (and I'm pretty sure that such a sitemap could be generated in different languages), a JS search function can search the static file and speed up search and load time. The long timeframe is then offset into the generation time, which the end user won't see.

[2020-01-17 16:20] mrbobbytables commented on #4
We had the json sitemap initially, but when we loaded in both the contributor and developer guide it drastically decreased the performance of the site (it was like a 1mb json blob). =/

It'll probably be fine for the interim with the drastically cut down content that we have in there, but might crop up again in the future.

[2020-01-17 18:33] nimbinatus commented on #4
🤔 Interesting. I wonder why that is. I'll poke around.

[2020-01-19 22:20] mrbobbytables opened #93 "Update method in which external content is ingested."
Currently, external content is brought into the contributor-site via the [hack/gen-content.sh]() bash script. In its original inception, it was quite small and lean -- but as a bash script usually does, it has grown to be unwieldy.

It'd be far better to replace it with a more supportable (and testable) means of bringing in external content. This means rewriting it something like go or python, or

[2020-01-19 22:43] mrbobbytables opened #94 "Update site to use Hugo v0.60.0+"
Hugo [v0.60.0](https://github.com/gohugoio/hugo/releases/tag/v0.60.0) introduced a new markdown renderer called [goldmark](https://github.com/yuin/goldmark/). This new renderer is much closer to native GitHub flavored markdown which should eliminate some of the idiosyncrasies that have been seen with the current [BlackFriday](https://github.com/russross/blackfriday) based rendering engine.

Goldma

[2020-01-20 06:54] vishakhanihore commented on #45
@mrbobbytables I suggest importing the key and events email-id from `.env file`. What are your views, Sooner or later we will need an environment configuration file?

[2020-01-20 06:56] vishakhanihore commented on #94
/assign

[2020-01-20 06:57] vishakhanihore commented on #86
/kind feature
/priority important-soon

[2020-01-20 12:39] #71 closed

[2020-01-21 09:03] #94 closed

[2020-01-21 09:15] vishakhanihore commented on #68
/lifecycle frozen
/priority important-soon

[2020-01-21 09:17] vishakhanihore opened #96 "Events Page: Improve & Make the calendar work."
- Make calendar work in Events Page.
-  Also provide support for Day, Weekly, Monthly toggle view calendar.

/kind feature
/priority important-soon

Supersedes #67

cc: @mrbobbytables @parispittman

[2020-01-21 09:17] vishakhanihore commented on #67
Event is not a blank page now. There are few bugs meanwhile.
To be handled in #96

[2020-01-21 09:19] vishakhanihore commented on #67
/close

[2020-01-21 09:19] #67 closed

[2020-01-22 14:38] mrbobbytables opened #98 "Setup domain (kubernetes.dev)"
Thanks @mauilion we have the kubernetes.dev domain 😄
This may need to be transferred over and managed via the [k8s.io](https://github.com/kubernetes/k8s.io) which will involve working with [wg-k8s-infra](https://github.com/kubernetes/community/tree/master/wg-k8s-infra)

/kind feature
/priority important-soon

[2020-01-23 14:31] vishakhanihore commented on #98
So are we planning to use kubernetes.dev for the contributor site rather than https://contributors.kubernetes.io/ ?

[2020-01-23 14:38] mrbobbytables commented on #98
Right now, yes -- we'll also be able to use the k8s.dev domain as a shortener - e.g. k8s.dev/guide/

[2020-01-23 20:28] #96 closed

[2020-01-23 20:36] vishakhanihore opened #100 "Events Page: Improve Calendar & Enhance CSS"
Now that we have a calendar working with different views switch like day, month, year in #99.

- Introduce CSS which may improve the current messy calendar look.
- Introduce margin and full page calendar.

cc: @mrbobbytables @parispittman

/kind feature
/priority important-soon

[2020-01-23 20:36] vishakhanihore commented on #100
/assign

[2020-01-24 15:25] mrbobbytables commented on #86
I've created a [tracking issue in k/community](https://github.com/kubernetes/community/issues/4444) for updates regarding the guide itself.

[2020-01-25 23:47] #100 closed

[2020-01-26 03:06] gkarthiks commented on #98
seems right now the `kubernetes.dev` takes to the k8s org in github

[2020-01-26 12:37] mrbobbytables commented on #61
Those are good examples. I do think that to be useful to everyone we will need both a focused getting started or contributor landing page akin to the [mozilla contribute](https://www.mozilla.org/en-US/contribute/), but we will need to surface both our contributor and developer guides. They both need an overhaul in layout and organization (ref: https://github.com/kubernetes-sigs/contributor-site/is

[2020-01-27 17:59] parispittman commented on #59
/remove-lifecycle stale

[2020-01-28 19:26] vishakhanihore commented on #65
/lifecycle frozen

[2020-01-29 12:11] vishakhanihore commented on #15
@mrbobbytables I think this issue has been addressed in the events index PR. Or is there anything more needed to be done in this one ?

[2020-01-29 12:22] mrbobbytables commented on #15
I think so. Eventually we will want to expand on it more for things like the contributor summits, but that's a later problem.

[2020-01-29 12:28] vishakhanihore commented on #15
/close

[2020-01-29 12:28] #15 closed

[2020-01-29 12:32] vishakhanihore commented on #2
@mrbobbytables Rather than linking can we import the ReadME for the Release Dashboard, As it clearly contains the essentials for the release cycle ?

[2020-01-29 12:52] mrbobbytables commented on #2
We could. I'd update the root doc to include a metadata header and weight though and that should also be something discussed with sig-release (I don't think they'd have an issue with it). My reason for originally just linking to the timeline is because that's what most folk are interested in. That being said, its easy enough to scroll down.

[2020-01-29 12:55] mrbobbytables commented on #2
/reopen
cc @justaugustus

[2020-01-29 14:38] mrbobbytables commented on #2
Per slack discussion (https://kubernetes.slack.com/archives/C2C40FMNF/p1580302816258200), we have the go-ahead to import the content and update the source with the metadata header.

[2020-01-29 14:38] vishakhanihore commented on #2
I will update the doc and go ahead with the PR in here :+1:

[2020-01-29 18:41] markyjackson-taulia commented on #93
this is a long term replacement and is not needed for the contributor site.

[2020-01-29 18:42] markyjackson-taulia commented on #93
/assign @markyjackson-taulia

[2020-01-29 18:45] markyjackson-taulia commented on #68
/close

[2020-01-29 18:45] markyjackson-taulia commented on #68
This has already been broken out and the core of this issues has been addressed

[2020-01-29 18:46] markyjackson-taulia commented on #98
/assign @mrbobbytables

[2020-01-29 18:55] vishakhanihore commented on #68
I suggest keeping this issue open, we will need a landing page even after
addressing sub-parts of the issues.

On Thu, 30 Jan, 2020, 00:15 Marky Jackson, <notifications@github.com> wrote:

[2020-01-29 18:56] markyjackson-taulia commented on #59
/remove @celanthe
/assign @parispittman

[2020-01-29 20:11] nimbinatus commented on #93
Hey @markyjackson-taulia! I had started poking at this issue a couple weeks ago to see what we needed. I'm pretty sure a simple include will work with a bit of tweaking. Did you want to see what I had in draft form?

[2020-01-29 20:37] vishakhanihore commented on #68
/reopen

[2020-01-30 15:54] mrbobbytables opened #105 "bug: Some URLs are not being generated correctly"
Relative source URLs referencing external content are not being generated correctly.

Example:
CLA link from here:
https://kubernetes-contributor.netlify.com/guide/contributor-cheatsheet/#signing-the-cla

Original:
[code]

After being imported:
[code]

It should be expanded to reference the full github url below:
[code]

/kind bug
/priority important-soon

/assign

[2020-01-31 16:22] #2 closed

[2020-01-31 16:24] vishakhanihore commented on #2
For now, importing the Release Document ReadME and its content should be sufficient for contributors and visitors to get a GIST about the release cycle and process.
We can come back to this later once we have a published website to enhance and improve this section more.

[2020-01-31 16:27] vishakhanihore commented on #105
@mrbobbytables What is the bug here? Do we need to include the reference to the GitHub URL in the URL of the content page?

[2020-01-31 16:32] vishakhanihore opened #107 "Sidebar contents are not getting include in mobile dropdown."
There need to be many minor changes and some neat upgrades on our website :
- Including all the menu subtab in our mobile view dropdown.
- Removing CSS overflow from every place if possible.
- Increase the width of the menu sidebar to accommodate the phrase in a single line.

/kind design
/kind feature
/priority important-soon

[2020-01-31 16:35] vishakhanihore commented on #107
/remove-kind bug

[2020-02-02 00:47] mrbobbytables commented on #105
That 404's when viewing it on the contributor site. The link generator should update the link so that it works - It'd link to the GithHub page by updating it to be this:
https://github.com/kubernetes/community/blob/master/CLA.md

It does that for MANY URLs for example, in contributing.md the e2e test url is this:
[code]
That link would break on the contributor site because it is a file reference.

[2020-02-02 15:48] markyjackson-taulia commented on #93
@nimbinatus sorry for the delay in responding. I would be interested to see what you have. I am thinking of converting this in its entirety to go so I can include some testing around it.

[2020-02-03 15:41] nimbinatus commented on #93
@markyjackson-taulia sounds good! I'll try to clean up my code with some comments and get my branch up this week for you to poke at.

[2020-02-07 22:46] nimbinatus commented on #93
@markyjackson-taulia here's what I was poking at. It does require a bit more work to add pages to the repo, and it's not 100% accurate yet regarding some of the internal links on each page. However, it's more native to Hugo, so I was hoping it would be a bit cleaner to test.

https://github.com/nimbinatus/contributor-site/blob/shortcode-import/layouts/shortcodes/content.gohtml

[2020-02-07 22:50] markyjackson-taulia commented on #93
Will run some test

[2020-02-07 23:51] mrbobbytables commented on #93
The hardest part that I'm concerned about with the hugo method is the replication of the link expander. It determines if the content is has been synced locally and updates it with the correct path, or if not -- expand it to the full github url.

This blurb is slightly out of date (updated in #110), but it is similar enough to explain.
https://github.com/kubernetes-sigs/contributor-site/blob/fe36c4

[2020-02-08 12:07] #105 closed

[2020-02-10 06:08] vishakhanihore opened #112 "Providing a docs edit link and last updated details."
As seen from many documentations and contributors' sites, there is a need to provide `Edit on GitHub` and `Last Updated` link from the website document to the corresponding source of truth of doc.

/cc @mrbobbytables @parispittman
/priority important-soon
/kind feature
/assign

[2020-02-10 06:10] vishakhanihore commented on #107
/assign

[2020-02-10 13:55] vishakhanihore commented on #4
/priority important-soon

[2020-02-10 14:27] mrbobbytables commented on #4
Follow up to the javascript search --
I went back and looked, it was actually probably because we were ingesting pretty much all of the kubernetes community and enhancement repos. I think it was because that altogether is ALOT of markdown. I think for the content we plan to ingest at this point the javascript search will be fine. 👍

[2020-02-15 16:38] markyjackson-taulia commented on #93
I found that through my testing, using the hugo method did not do fully what I wanted so I am going to redo this. Thank you @nimbinatus for the code

[2020-02-16 18:49] vishakhanihore commented on #60
/remove-lifecycle stale

On Mon, 17 Feb, 2020, 00:00 fejta-bot, <notifications@github.com> wrote:

[2020-02-28 21:49] vishakhanihore commented on #107
Fixed in above related PRs
/close

[2020-02-28 21:49] #107 closed

[2020-03-05 17:36] celanthe commented on #58
Hi all, I'm going to be stepping back a bit and focusing more on the upstream marketing blog content for now as I've been stretched a bit too thin, I've unassigned myself from this issue and am hopeful someone else picks it up.

[2020-03-05 17:37] celanthe commented on #57
Hi all, I'm going to be stepping back a bit and focusing more on the upstream marketing blog content for now, I've unassigned myself from this issue and am hopeful someone else picks it up.

[2020-03-05 18:03] markyjackson-taulia commented on #93
/milestone v1.19

[2020-03-11 03:13] markyjackson-taulia commented on #93
@nimbinatus I started the work in the above PR, did it in python but there is still more to do.
I would love to pair with you on this.

[2020-04-08 13:17] mrbobbytables commented on #4
This will be resolved with the migration to docsy. For now I'm going to close this out.

/close

[2020-04-08 13:18] #4 closed

[2020-04-08 13:21] mrbobbytables commented on #112
The docsy theme will provide this functionality, however it will not work with ingested content without some restructuring of the docsy theme itself.

If at some point documentation is moved to the contributor site as the primary source this should resolve itself.

[2020-04-08 13:26] mrbobbytables commented on #68
I'm going to re-close this. The landing page itself will mostly be links to other content within the contributor site itself. Which should generally be handled by the docsy theme.

/close

[2020-04-08 13:26] #68 closed

[2020-04-08 13:31] mrbobbytables opened #123 "[docsy] SCSS generation error"
This is blocking the general development of the docsy site conversion:
There is an issue between netlify and hugo with builds throwing this error:
[code]

This has temporarily been resolved by committing the generated resources directory in the [WIP Preview Branch](https://github.com/kubernetes-sigs/contributor-site/pull/122), however this should be resolved before the general docsy branch is upda

[2020-04-08 13:38] mrbobbytables opened #124 "[docsy] External content needs restructuring"
docsy has a different site layout than the previous contributor site generations. This will require restructuring the paths and titles (e.g. `index.md` instead of `_index.md` in some scenarios) of the things being ingested.

For reference, see the [WIP preview](https://github.com/kubernetes-sigs/contributor-site/pull/122).

[2020-04-08 13:45] mrbobbytables opened #125 "[docsy] Some pages are not rendered correctly"
Some items are not rendered correctly with the sidebar and the top of the text being cut off at the top of the page.
Examples are the items listed under the resources category in the [WIP Preview](https://github.com/kubernetes-sigs/contributor-site/pull/122):
https://deploy-preview-122--kubernetes-contributor.netlify.com/resources/

[2020-04-08 13:46] mrbobbytables opened #126 "[ Umbrella issue] Convert site to docsy theme"
This is a large restructure of the current project. [Docsy](https://docsy.dev/) is a hugo theme and very easy to extend.

The primary kubernetes website (https://kubernetes.io) is being converted to use the same backend theme. ([preview](https://kubernetes-hugo-staging.netlify.com/docs/home/)).

It is also being used by [minikube](https://github.com/kubernetes/minikube) for their documentation (ht

[2020-04-08 13:51] mrbobbytables opened #127 "[docsy] Add contributor calendar"
The [calendar](https://kubernetes-contributor.netlify.com/events/community-calendar/) will have to be re-implemented under docsy once it is promoted to master.

It should now be an item listed under [resources](https://5e8a6dc2828fc70007c6208c--kubernetes-contributor.netlify.com/resources/).

[2020-04-10 11:04] miloszkowal commented on #123
What version of Hugo are you using? According to the Docsy theme, you need the `extended` version, downloadable here: https://github.com/gohugoio/hugo/releases

That being said, I'm also experiencing this error when trying to build a Docsy page myself, despite having this error.

[2020-04-10 11:21] mrbobbytables commented on #123
Tried multiple versions from v0.65.x - v0.68.3 -- by default netlify does build with the extended version as well.

The current WIP is built with v0.68.3
https://github.com/kubernetes-sigs/contributor-site/blob/d8c818706dc9adf724ec63c5044070473a52ec81/netlify.toml#L6

[2020-04-10 16:30] christopherhein commented on #98
I've been getting emails about my own personal Netlify domains that anything xxx.netlify.com will change to xxx.netlify.app on April 14th, meaning anyone that has been sharing https://stupefied-goodall-e282f7.netlify.com/ that link I believe will break, is that correct?

[2020-04-11 14:41] mrbobbytables commented on #98
They do plan to forward automatically, but long term things should change to use the .app extension.
ref: https://community.netlify.com/t/changes-coming-to-netlify-site-urls/8918

[2020-04-14 01:25] mrbobbytables commented on #123
It looks like a `package.json` file is required with at least these 2 dependencies:
[code]
netlify will handle installing them before generating the site.

The current [wip](https://github.com/kubernetes-sigs/contributor-site/pull/122) is functional but needs clean up. This issue can be closed once its cleaned up and makefile updated with correct command.

[2020-04-26 05:35] nikhita opened #128 "Participate in Season of Docs?"
Google has recently announced the 2020 version of their Google Season of Docs (GSoD) program. CNCF has applied as an organization and is participating in the program - https://github.com/cncf/mentoring/tree/master/seasonofdocs.

According to the [timeline](https://developers.google.com/season-of-docs/docs/timeline), we have until 11 May to submit project ideas. I just wanted to get the issue creat

[2020-04-26 06:57] zacharysarah commented on #128
@nikhita Yes we do! 💯 The program ideas there are what I’ve come up with so far. Please feel free to add or revise! 🙏

[2020-04-27 16:04] markyjackson-taulia commented on #93
We are going to scrap this python code and move toward go after discussing with @mrbobbytables

[2020-04-28 18:02] mrbobbytables commented on #123
This has now been resolved -- it's a combo problem:
1) The docsy theme itself has its own submodules that must be fetched. Hugo will throw an SCSS error if they are not found. The solution is to fetch them `git submodule update --init --recursive --depth 1`
2)  The postcss-cli and autoprefixer JavaScript packages are required. These are installed automatically by netlify but need to be installed o

[2020-04-28 18:02] #123 closed

[2020-04-28 18:03] mrbobbytables commented on #125
This has been resolved. Each section requires its own layout defined in the layouts directory. The docs layout has been copied for both resources and events.

/close

[2020-04-28 18:04] #125 closed

[2020-05-04 16:35] mrbobbytables commented on #128
/assign

[2020-05-04 18:57] #57 closed

[2020-05-04 18:57] #58 closed

[2020-05-04 20:11] mrbobbytables commented on #128
It has been merged \o/
Thanks to @zacharysarah for the last minute review :)
https://github.com/cncf/mentoring/tree/master/seasonofdocs#update-the-kubernetes-developer-guide

For now I'm going to close this out and we'll wait and see 👍

/close

[2020-05-04 20:11] #128 closed

[2020-05-05 14:19] mrbobbytables commented on #124
Content has been restructured in the [WIP PR](https://github.com/kubernetes-sigs/contributor-site/pull/122).

Biggest change is content from the guide is being imported as individual items instead of of a directory to only import the english version of the contributor cheatsheet and replace the ToC with the auto-generated list page.

/close

[2020-05-05 14:20] #124 closed

[2020-05-05 14:21] mrbobbytables commented on #126
All items have been addressed in the [WIP PR](https://github.com/kubernetes-sigs/contributor-site/pull/122).
Going to go ahead and close this out, as the PR is ready to merge.

close

[2020-05-05 14:23] mrbobbytables commented on #126
woops

/close

[2020-05-05 14:23] #126 closed

[2020-05-16 23:23] celanthe commented on #60
Hi all--As I'm stepping back from contributing outside of my Storyteller role on the Upstream Marketing team, I've unassigned myself from this issue. Was wondering if @vishakhanihore was still interested in taking it on?

[2020-05-18 16:07] mrbobbytables commented on #112
I'm going to go ahead and close this out for now -- should the contributor documentation ever be merged into the contributor site as the source of truth we can revisit this.
/close

[2020-05-18 16:07] #112 closed

[2020-05-18 16:39] mrbobbytables opened #129 "Contributor site launch list"
List of items that need to be resolved before go live. This may be updated as needed with further items as they're discovered.

- [x] **Fix bug with kubernetes  icon in top left** (#131)
   The icon appears white in the netlify preview but does seem to work in local preview
- [x] **Add release page for 1.19 to the resources category** (#133)
   We had a test one configured for the 1.18 release. We

[2020-05-19 12:55] lfrancke opened #130 ""Meet our Contributors" weird sentence"
The [Meet our Contributors](https://github.com/kubernetes-sigs/contributor-site/blob/master/content/Events/meet-our-contributors.md) page has this sentence:

Something seems to be missing in that sentence.
I'm not sure what the intention was.
In addition, there's no calendar to be found at that site.

Happy to create a PR to just remove that sentence.

[2020-05-19 13:19] mrbobbytables commented on #130
I'd update in the original document here: https://github.com/kubernetes/community/blob/master/mentoring/programs/meet-our-contributors.md

The Moc/Office Hours/Community meeting pages were copied from their locations in k/community with some things like the youtube embeds added to test some functionality of hugo.^^;;;

We'll need to update it, but that brings up a bigger question - @castrojo @pari

[2020-05-19 14:22] lfrancke commented on #130
Thanks for the quick response.

I didn't even realize that this was just a copy.
Is it a manual or automated process? (you refer to an import script)

Shall I close this issue and open a new one in k/community?

[2020-05-19 14:38] mrbobbytables commented on #130
The things under the events directory were manually imported to test some things.
They would be imported with the [hack/gen-content.sh](https://github.com/kubernetes-sigs/contributor-site/blob/master/hack/gen-content.sh) script if we wanted to remove things like the youtube embeds.

I'd go ahead an open up an issue in k/community, but can leave this open for now to answer these questions:

[2020-05-20 16:50] jonasrosland commented on #129
The first item, the icon being the wrong color, might be related to this: https://github.com/gohugoio/hugo/issues/6475
An easy test would be to try it without using `minify`, see if that helps.

[2020-06-07 16:46] joshuabezaleel commented on #127
Hi @mrbobbytables , I found that the quickest hack to embed the calendar is just to put the GCal's url with the `<iframe>` tag and wrap it around `<div>`. Will it be an accepted solution for this issue though?
![image](https://user-images.githubusercontent.com/7043511/83974630-0c11ef80-a919-11ea-87e2-820e505bd2c8.png)
![image](https://user-images.githubusercontent.com/7043511/83974640-1df39280-a91

[2020-06-07 22:56] mrbobbytables commented on #127
I should have documented this issue a bit further >_< We'd like to re-impliment [fullcalendar](https://fullcalendar.io/) which we had with the previous iteration of the site.
Here is an older version: https://5eae09846d3a2da64be11b32--kubernetes-contributor.netlify.app/events/community-calendar/

Here is a link to the old javascript bit we had: https://github.com/kubernetes-sigs/contributor-site/b

[2020-06-14 16:02] mrbobbytables commented on #130
Going to close this one for now since we have the open issue in k/community 👍

/close

[2020-06-14 16:02] #130 closed

[2020-06-15 02:06] #56 closed

[2020-06-15 23:35] mrbobbytables commented on #60
/lifecycle frozen

[2020-06-28 15:22] #59 closed

[2020-07-10 15:07] mrbobbytables commented on #98
/remove-lifecycle stale

[2020-07-12 23:42] mrbobbytables commented on #127
The calendar has been added in https://github.com/kubernetes-sigs/contributor-site/pull/136

[2020-07-15 14:36] #127 closed

[2020-08-02 19:16] mrbobbytables commented on #93
/lifecycle frozen
This will be a long term issue

[2020-08-17 21:51] mrbobbytables commented on #98
Final external setup of domain: https://github.com/kubernetes/k8s.io/pull/1150

Once merged, the netlify redirects will be updated here and the DNS configuration should be complete.

[2020-08-18 00:12] mrbobbytables commented on #86
The sections have been updated \o/ This is good to close
/close

[2020-08-18 00:13] #86 closed

[2020-08-20 00:38] mrbobbytables commented on #98
This has been done \o/
/close

[2020-08-20 00:38] #98 closed

[2020-08-20 00:38] mrbobbytables commented on #129
All items have been completed, go live date scheduled for the 24th

[2020-08-20 01:06] #129 closed

[2020-08-23 17:28] mrbobbytables opened #152 "[Accessibility] Welcome page"
The text on the [welcome page](https://www.kubernetes.dev/welcome/) is difficult to read. The background image has a mix of both bright and dark sections. The text is white and is difficult to read when it is over the brighter parts of the page.

[2020-08-24 15:15] #152 closed

[2020-08-24 22:52] abenokraitis commented on #61
The Ansible Engineering team is currently maintaining `community.kubernetes` Collection that will also be split up soon. Let me know if you need more info.

[2020-08-25 15:39] mrbobbytables commented on #61
With the launch of the site, I think this is safe to close.

@abenokraitis The subproject [kubespray](https://github.com/kubernetes-sigs/kubespray) uses ansible, as far as I know they're evaluating what they're going to do( https://github.com/kubernetes-sigs/kubespray/issues/6400), but any dialog about it should probably move over there 👍 I can help route to the right people if you need it.

/clos

[2020-08-25 15:39] #61 closed

[2020-08-25 17:01] sftim opened #159 "Add links (both directions) between main website and https://kubernetes.dev/"
Mirror image of https://github.com/kubernetes/website/issues/23417

[2020-08-25 17:02] sftim commented on #159
/sig docs
/kind feature

[2020-08-27 13:43] mrbobbytables opened #160 "Automatic update of site when external content is updated"
Currently the site is only updated when a PR to this repo is merged or a manual trigger of a build is done in netlify. Long term a prow job should be configured to trigger the rebuild webhook whenever the externally sourced content is updated.

As a short term solution, a periodic job could be configured to trigger rebuilding the site on something like a 12hr interval.

[2020-08-28 15:48] dholbach opened #161 "Image missing in https://www.kubernetes.dev/resources/release/"
https://www.kubernetes.dev/resources/release/ include

[code]

Looking at https://github.com/kubernetes/sig-release/blob/master/releases/release-1.19/README.md (which is probably the source?) the original image lives at https://github.com/kubernetes/sig-release/blob/master/releases/release-1.19/accentuate-the-pawsitive.png

[2020-08-28 15:53] castrojo commented on #161
I bet an absolute URL would work, here's a nice shorthand one: https://git.k8s.io/sig-release/releases/release-1.19/accentuate-the-pawsitive.png

[2020-08-28 16:31] dholbach commented on #161
From https://github.com/kubernetes/sig-release/pull/1204#pullrequestreview-477868720:

[2020-08-28 17:44] mrbobbytables commented on #161
I agree with @hasheddan. We source external content through a few csv files that contain references to other repos

I opened #162 to support importing other content for the release directory.

[2020-08-28 17:55] #161 closed

[2020-09-01 08:55] kushthedude commented on #160
Hey @mrbobbytables How about having a github action for the automatic trigger?

[2020-09-01 09:24] kushthedude commented on #93
Hi All, I would like to collaborate on this! Let me know what is the status of the same 😄

[2020-09-03 15:39] mrbobbytables commented on #160
@kushthedude As it spans multiple repos and they have prow in place I'd lean a bit more towards doing it that way. For the most part though it should be pretty similar :)

[2020-09-04 09:58] kushthedude commented on #160
There is not any prow job for contributor-site right now, should I add one here https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs ?

[2020-09-04 13:55] mrbobbytables commented on #160
OOOH, I think I get what you were saying now. We could setup a github action for this repo to trigger on an interval to rebuild.

Long term we'd want prow jobs to trigger a rebuild targeting the places where the external content is sourced:
- [kubernetes/community](https://github.com/kubernetes/community)
  - `/contributors/guide`
- [kubernetes/sig-release](https://github.com/kubernetes/sig-releas

[2020-09-04 14:00] kushthedude commented on #160
Yes, that was I was saying. We can setup up a cron github action to curl
the rebuild webhook at particular interval.

On Fri, 4 Sep, 2020, 19:25 Bob Killen, <notifications@github.com> wrote:

[2020-09-04 14:39] mrbobbytables commented on #93
It got put on the back-burner and hasn't really made any progress^^;;;
Ideally it'd be written in go, and use the same markdown [library](https://github.com/yuin/goldmark/) as hugo to detect what links need to be replaced. Right now it's just a bunch of regex's that are sort of best effort >_>

The configs right now are just some CSVs, but ideally we'd switch to a yaml spec - something like:
[code

[2020-10-03 02:12] sftim opened #167 "Localization"
**Support multiple localizations**

It's useful to be able to have the content available in several languages. For example, I'd like to migrate https://kubernetes.io/docs/contribute/ to the contributor site, _but_ to do that well means making sure that https://k8s.dev/ can accept localized content.

/kind feature

[2020-10-03 02:13] sftim commented on #160
The GitHub Action trigger sounds like a reasonable idea, and would also work for https://k8s.io/ (which has similar needs).

[2020-10-03 02:17] sftim commented on #160
/kind feature

[2020-10-03 02:20] sftim commented on #167
We should also reference the localized code of conduct pages (that are already translated).

[2020-10-03 13:10] mrbobbytables commented on #167
That is very much the long term goal. :) I'd love to get our contributor docs localized.

[2020-10-06 12:59] mrbobbytables opened #169 "Replace search with google search"
The internal search engine for static pages leaves something to be desired. :| It's not pulling up very relevant material.
We should replace it with a built in google search similar to the main k8s.io website

Here is a link to the docs on doing so: https://www.docsy.dev/docs/adding-content/navigation/#configure-search-with-a-google-custom-search-engine

/kind feature

[2020-10-07 17:31] mrbobbytables commented on #169
/assign @castrojo

[2020-10-10 13:49] sftim commented on #60
I'd like to see the content currently in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md published on https://k8s.dev/ so that it has a stable URI (and there's an opportunity to redirect to it if there is ever a change).

[2020-10-10 13:52] sftim commented on #60
Looking at https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md I think this is also elevant to people who aren't planning to contribute to Kubernetes (eg: someone writing a CustomResourceDefinition or a controller).

Should that page move to within https://kubernetes.io/ ?

[2020-11-16 08:17] sbueringer opened #175 "Dead link to mentoring initiatives in the Getting started doc"
Hi,

looks like the link to the mentoring initiatives in the Getting started page is broken:

![image](https://user-images.githubusercontent.com/4662360/99228150-8611a300-27ec-11eb-9129-74514e889c52.png)

![image](https://user-images.githubusercontent.com/4662360/99228199-932e9200-27ec-11eb-8504-47d48633be87.png)

[2020-11-20 19:39] sftim opened #178 "skribble.io offline"
https://www.kubernetes.dev/events/kcc2020/activities/#events mentions https://skribble.io/

However, https://skribble.io/ is offline.

[2020-11-20 19:41] mrbobbytables commented on #178
it's https://skribbl.io/
fixing in a sec

[2020-11-24 02:21] mrbobbytables commented on #178
link was fixed 👍
/close

[2020-11-24 02:22] #178 closed

[2021-01-05 18:01] mrbobbytables commented on #169
Woops, this was done awhile ago.
/close

[2021-01-05 18:01] #169 closed

[2021-01-13 18:08] mrbobbytables commented on #175
Sorry this took so long to catch up to.
The upstream link in k/community does work so this is an issue with the parser. I have an idea as what the cause is. (The link has some additional unseen whitespace on the end) and can revisit later.

/kind bug

[2021-01-13 18:09] mrbobbytables commented on #160
I think with the action trigger in place, this is good to close 👍

/close

[2021-01-13 18:09] #160 closed

[2021-01-13 18:11] mrbobbytables opened #201 "Create new top level Community section"
The community page will house our other documentation like our CoC, values, potentially mentoring etc.

To start, it should at a minimum have our CoC and values.

/kind feature

[2021-01-13 18:59] jberkus opened #202 "Make contributor site findable"
I've lost the URL for the contributor site, and found that there was no way to get to it if you don't already have the URL.  There's no link to it from kubernetes.io that I can find, and its google rank is apparently 0.

We need to work on findability for the site if we expect it do do any good.  This would include:

1. Linking from home page or community page of kubernetes.io
2. Linking from CNCF

[2021-01-15 14:22] mrbobbytables commented on #93
/help wanted

[2021-01-15 14:22] mrbobbytables commented on #93
/help

[2021-01-17 16:55] sftim commented on #159
Also relevant to #202

[2021-01-17 16:55] sftim commented on #159
/remove-lifecycle rotten

[2021-01-17 16:59] sftim commented on #202
https://kubernetes.io/docs/contribute/ is a guide to contributing to Kubernetes _documentation_.

I'd like to redirect https://kubernetes.io/docs/contribute/ to https://www.kubernetes.dev/docs/guide/ but there's a problem: localization. https://kubernetes.io/docs/contribute/ is localized; https://www.kubernetes.dev/docs/guide/ is not. If we take the naive approach, we discard all the downstream lo

[2021-01-18 14:05] mrbobbytables commented on #202
Multiple groups have shown interest in localizing that content - The first real step will be to migrate the repo to the kubernetes org so we can reuse teams. There are a few other reason for that migration, but easier localization is a big one.

[2021-01-18 23:11] whs-dot-hk commented on #93
@mrbobbytables Will ansible work in this case?

[2021-01-18 23:39] mrbobbytables commented on #93
@whs-dot-hk No, this would be best in golang where it could use the same library used by Hugo to generate links. The difficult part is not syncing the content, it's ensuring all links within the pages are updated without potentially modifying other content like code snippets in code fences.

[2021-01-20 00:54] whs-dot-hk commented on #93
@mrbobbytables Should it be a separate go program or a hugo "plugin"?

[2021-01-31 14:05] mrbobbytables commented on #167
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-31 14:06] mrbobbytables commented on #93
@whs-dot-hk it would be a separate program.

[2021-02-11 12:29] sftim opened #204 "Incorporate logging guide"
Publish [Logging Conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md) within https://k8s.dev/

/kind feature
/sig instrumentation
/sig contributor-experience

[2021-02-11 12:37] mrbobbytables commented on #204
We want to add the whole developer guide, but much of the content is not in a state that should be published. An audit is in the works (https://github.com/kubernetes/community/issues/5229), and either alongside that audit or after need to think about information organization.

[2021-02-11 17:51] ehashman commented on #204
@sftim thanks for the tag! This should get covered as part of the structured logging migration. I'll make sure there's an issue open for it

[2021-02-28 16:27] sftim opened #207 "Include design principles"
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/principles.md is an (incomplete) list of Kubernetes design principles. We should give it a home within https://k8s.dev/

/kind feature

[2021-02-28 16:30] sftim commented on #26
also see https://github.com/kubernetes-sigs/contributor-site/issues/207

[2021-02-28 19:43] mrbobbytables commented on #207
Copying from slack:
We don’t plan on publishing anything out of design-proposals directory directly. It’s up to sig-arch to review the relevant documentation and move it over to the devel directory.

We do plan to publish the contents from the devel directory once its reviewed for accuracy

For more information see: https://github.com/kubernetes/community/issues/2565

[2021-02-28 19:48] sftim commented on #207
/sig architecture

[2021-03-18 09:17] davideimola commented on #175
Hi @mrbobbytables ,
I have watched this issue. I think I might help... I can create a PR on the community repository by removing the unseen whitespace.
After that, I can insert that document in the external-sources too!

What do you think?

[2021-03-22 15:39] mrbobbytables opened #211 "Add banner functionality"
Banner functionality similar to the one used for k/website would be useful. It could be used to list the next release cycle deadline. etc

/kind feature

[2021-03-22 19:06] davideimola commented on #175
/assign
/lifecycle active

[2021-03-24 16:47] davideimola commented on #201
/assign
/lifecycle active

[2021-03-27 21:40] davideimola commented on #201
Hi @mrbobbytables,
I am not so sure how to handle this section https://www.kubernetes.dev/resources/.
I think the community section duplicates in part the resources one.

Can you help me to understand the topic we want to move out from the resources one?

[2021-03-28 22:54] mrbobbytables commented on #201
Sure!
We will move some of the content (code of conduct and community groups) that are currently under resources to the new community section, as that is a better home for it. :)
The top level sections should be ordered (weighted) as follows:
- Welcome
- Blog
- Docs
- Community
- Resources
- Events

In the new community section, I'd order the pages like:
- community groups
- mentoring
- values
- c

[2021-03-30 16:39] #175 closed

[2021-03-30 16:39] #201 closed

[2021-04-20 16:01] jberkus commented on #202
/remove-lifecycle stale

This is still an issue.

[2021-05-18 08:08] sftim commented on #159
/remove-lifecycle rotten

[2021-06-09 16:09] RinkiyaKeDad commented on #93
/assign

[2021-07-11 19:09] #204 closed

[2021-07-14 08:52] jihoon-seo opened #226 "Link in blog article is broken"
**This is a Bug Report**

**Problem:**
In https://www.k8s.dev/blog/2021/07/09/how-to-choose-a-sig-as-a-non-code-kubernetes-contributor/#hop-into-the-kubernetes-community ,
the link [`Kubernetes SIGs`](https://www.k8s.dev/resources/community-groups/) is broken.

**Proposed Solution:**
Update link to https://www.kubernetes.dev/community/community-groups/ .

**Page to Update:**
https://www.k8s.dev/bl

[2021-07-14 15:44] #226 closed

[2021-07-16 16:08] karuppiah7890 opened #229 "CNCF Code of Conduct link leads to a 404 page"
The CNCF Code of Conduct link on this page https://www.kubernetes.dev/welcome/ leads to a 404 web page - https://www.kubernetes.dev/resources/code-of-conduct/ . Has it moved?

I see the code of the welcome page is here - https://github.com/kubernetes/contributor-site/blob/master/content/en/welcome/_index.md

Probably we need to link to this - https://www.kubernetes.dev/community/code-of-conduct/ ?

[2021-07-16 16:10] karuppiah7890 commented on #229
Noticed a reference here too - https://github.com/kubernetes/contributor-site/blob/master/code-of-conduct.md

[2021-07-19 16:24] jberkus commented on #202
/remove-lifecycle stale

This is still unfixed

[2021-07-28 21:42] #207 closed

[2021-08-16 12:00] mrbobbytables commented on #159
/remove-lifecycle stale
/lifecycle frozen

[2021-08-19 18:07] #211 closed

[2021-08-20 05:45] karuppiah7890 commented on #229
@palnabarun ^ Could you help here?

[2021-08-20 05:49] karuppiah7890 commented on #229
I'll raise a PR for this with this link https://www.kubernetes.dev/community/code-of-conduct/ , assuming we don't want folks to go to a different site and stay within the same site https://www.kubernetes.dev

[2021-08-20 06:08] palnabarun commented on #229
I see that earlier it was linked to https://github.com/cncf/foundation/blob/master/code-of-conduct.md in https://github.com/kubernetes/contributor-site/commit/b6e060ffd077dbdf92a6f7f0b10b74de27dd8bc2.

Although if the intent is to redirect through https://k8s.dev/community/code-of-conduct, that also is a good approach.

@karuppiah7890 -- Please feel free to raise a PR with that change. Thank you!

[2021-08-20 06:43] karuppiah7890 commented on #229
I was wondering why there are so many places where code of conduct is maintained

[2021-08-20 06:44] karuppiah7890 commented on #229
I would have expected one source of truth - one codebase and one site, and everyone else linking to it in some way

[2021-08-20 06:52] karuppiah7890 opened #236 "Automatic detection of 404 links on the website"
It would be cool to have some sort of automatic detection of 404 links on the website. This can avoid problems like #229

The solution could be put as a check in some sort of CI too, for running it against PRs

We could do this in multiple ways. The simplest seems to be to - render the site, run it on a server and start crawling all the web pages to look for all the links and check if they are 404

[2021-08-24 22:16] CIPHERTron commented on #159
Heyy @sftim can I get some more context on this issue?
Thanks!

[2021-08-31 14:13] #229 closed

[2021-09-09 08:42] Atharva-Shinde opened #241 "Regarding: Backlink for Org Membership Request form on the website"
The backlink for Org Membership Request form in the website [here](https://www.kubernetes.dev/resources/services/#organization-membership), is redirecting to an empty template [here](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.md&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E) which actually should redirect to the provided t

[2021-09-09 08:43] Atharva-Shinde commented on #241
/assign

[2021-09-09 09:08] Atharva-Shinde commented on #241
kind/bug
kind/cleanup

[2021-09-09 09:09] Atharva-Shinde commented on #241
/kind bug
/kind cleanup

[2021-09-09 09:10] Atharva-Shinde commented on #241
remove /kind bug

[2021-09-29 13:56] mrbobbytables commented on #65
/close

[2021-09-29 13:58] #65 closed

[2021-09-30 05:32] Debanitrkl commented on #241
TODO:
Update the link on `line 49` of this [file ](https://github.com/Debanitrkl/contributor-site/blob/master/content/en/resources/services.md) and replace it with this [link](https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E)
/good-first-issue

[2021-09-30 10:25] Atharva-Shinde commented on #241
I know @Debanitrkl  which file the changes needs to be done,  I am currently exploring the codebase of the contributors website and then get the issue done

[2021-10-25 17:54] chrismetz09 opened #250 "Add blog on using Mermaid to create diagrams"
Hey k8s.dev folks-
Promoting use of Mermaid-created diagrams for K8s docs. @sftim suggested creating a blog on this topic for docs contributors, new and experienced. Diagrams enhance docs clarity, quality and reader-friendlinesss. IMHO, contributors should consider using diagrams if and where appropriate.

Here is markdown version of the blog. Thoughts!

https://github.com/chrismetz09/K8s-mermaid-

[2021-10-28 11:50] sreekaransrinath opened #251 "SIG ContribEx weekly marketing meeting is listed twice"
Screenshot:
![image](https://user-images.githubusercontent.com/50989977/139250092-9dca6c3e-2fb6-40da-a5be-047804f52e50.png)

https://www.kubernetes.dev/resources/calendar/

[2021-10-28 12:31] sreekaransrinath opened #252 "Inaccurate descriptions on the Kubernetes Community Values"
The pages describing the Kubernetes Community Values have subtitles/descriptions as "Mentoring Initiatives"
![image](https://user-images.githubusercontent.com/50989977/139255451-38ab2def-9e6d-427b-930a-4950509a5dcc.png)
![image](https://user-images.githubusercontent.com/50989977/139255546-4e33a92f-3889-4b12-8ff4-de6f5aa9a971.png)

"The values that make up the Kubernetes Community" or something sim

[2021-11-02 15:43] alisondy commented on #252
Thanks for sorting this out @sreekaransrinath , Closing this issue as the issue has been resolved 💯

/close

[2021-11-02 15:43] #252 closed

[2021-11-02 17:46] chrismetz09 commented on #250
@sftim, got it. Where should I open PR?

[2021-11-02 17:59] chrismetz09 commented on #250
@sftim, I'll try contributor-site first.

[2021-11-03 14:43] CIPHERTron commented on #251
/kind bug

[2021-11-03 14:46] CIPHERTron commented on #251
Heyy @sreekaransrinath, thanks for bringing this to our notice. This needs to be fixed.

[2021-11-03 16:30] mrbobbytables commented on #251
It's been fixed 👍

/close

[2021-11-03 16:31] #251 closed

[2021-11-03 22:39] CIPHERTron commented on #241
Heyy @Atharva-Shinde any updates on this?

Also, I'm not quite sure if this issue still persists because the **Org Membership Request** form present [here](https://www.kubernetes.dev/resources/services/#organization-membership) takes me to the right form. Are you referring to some other form? 🤔

[2021-11-03 22:53] CIPHERTron opened #253 "kubernetes/org link in `/resources/service` points to a wrong repo"
The link of the `kubernetes/org` hyperlink points to the wrong repository. Currently, it points to [this](https://github.com/org) random repo whereas actually, it should point to https://github.com/kubernetes/org
![Screenshot from 2021-11-04 04-13-42](https://user-images.githubusercontent.com/56754747/140222114-13200c8d-9267-4cb5-92ba-6f837cfc9da1.png)

/kind bug
/good-first-issue

[2021-11-03 23:00] CIPHERTron commented on #253
How to fix this:
We actually have two instances of this bug in the same section because both are linked to the same variable. To fix both of this, we have to change the link of the `kubernetes/org` variable present in **Line 222** of [content/en/resources/services.md](https://github.com/kubernetes/contributor-site/blame/master/content/en/resources/services.md) file from https://github.com/org to h

[2021-11-04 03:18] sreekaransrinath commented on #253
I'd like to take this on -- /assign

[2021-11-04 03:18] sreekaransrinath commented on #253
/assign

[2021-11-04 05:04] Atharva-Shinde commented on #241
Yeah I'll close this as the pr was merged

[2021-11-04 05:04] #241 closed

[2021-11-04 05:08] Atharva-Shinde commented on #241
The one you are seeing is the updated backlink of the org membership form, which was updated through this issue's pr

[2021-11-06 06:38] sreekaransrinath commented on #253
I'm actually pretty swamped for the next couple of days -- if any other new contributor wants to take over by then, please be my guest and submit a PR. If it's still open when I check back, I'll take care of it :)

[2021-11-06 14:47] chetak123 commented on #253
Hey @sreekaransrinath I am going to make a PR for this issue.

[2021-11-06 19:09] CIPHERTron commented on #253
That's completely fine @sreekaransrinath 💯
/unassign @sreekaransrinath

[2021-11-06 19:10] CIPHERTron commented on #253
/unassign @sreekaransrinath

[2021-11-06 19:10] CIPHERTron commented on #253
Thanks for your contributions @chetak123 🎉
/assign @chetak123

[2021-11-08 16:21] CIPHERTron commented on #253
#254 fixes this issue. Thus closing!

[2021-11-08 16:21] #253 closed

[2021-11-11 03:45] sandipanpanda opened #256 "Broken link of K8sContributors Twitter handle in K8s.dev website"
The twitter handle link of K8sContributors is broken in https://github.com/kubernetes/contributor-site/blob/master/content/en/resources/services.md?plain=1#L87

![Screenshot from 2021-11-11 09-06-25](https://user-images.githubusercontent.com/87253083/141232928-555f9d6b-4012-4455-a14b-e1575f5d63b4.png)

/kind bug

[2021-11-11 04:08] sandipanpanda commented on #256
/assign

[2021-11-17 15:16] jeefy opened #259 "Update links in past events"
In #258 the links in the event pages that were archived need to be updated to point to the new `past-events` location

/assign @jeefy

[2021-11-17 15:27] #256 closed

[2021-11-19 13:15] Debanitrkl commented on #93
/assign

[2021-11-25 11:11] sftim commented on #159
For more context, read https://github.com/kubernetes/website/issues/23417

I'll close this one.
/close

[2021-11-25 11:11] #159 closed

[2021-12-01 19:46] parispittman opened #263 "community calendar"
I think the community calendar should go into the events section and not resources

we should also define what goes in community, resources, and events so that its more clear what kinds of info folks will get in each one

[2021-12-01 19:47] CIPHERTron commented on #60
/assign

[2021-12-02 18:35] CIPHERTron commented on #259
Heyy @jeefy I think this issue has already been addressed in PR #261
Shall we close this issue?

[2021-12-02 18:46] jeefy commented on #259
Yep! Good call. :)

/close

[2021-12-02 18:47] #259 closed

[2021-12-03 21:16] chris-short commented on #202
@parispittman Can you share access to the Google Search Console for kubernetes.dev? I need to figure out if what we're doing is helping or not and that's usually the best place.

[2021-12-08 16:56] CIPHERTron commented on #60
/remove lifecycle-frozen

[2021-12-08 16:57] CIPHERTron commented on #60
/remove-lifecycle frozen

[2021-12-14 06:37] CIPHERTron commented on #250
I think this issue can be closed now.
Thanks @chrismetz09 ❤️

/close

[2021-12-14 06:37] #250 closed

[2022-01-07 14:57] sftim opened #281 "Articles publishing too early"
https://kubernetes.dev/blog/2022/01/10/meet-our-contributors-india-ep-01/ was intended to publish next week; however, it is already live.

I assume this is a bug.

/kind bug

[2022-01-17 08:42] #236 closed

[2022-01-31 09:07] sftim opened #284 "Document how to join the organization"
Within https://www.k8s.dev/docs/guide/ I didn't find any guide on how to join the Kubernetes org.

We should make that very clear.

/kind feature

[2022-01-31 09:08] sftim commented on #284
A link to https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-membership&template=membership.yml&title=REQUEST%3A+New+membership+for+%3Cyour-GH-handle%3E would be a good start.

[2022-02-03 15:33] tahsintunan opened #285 "Feature Request: A section that gives a high-level overview of the Kubernetes project (targeted towards new contributors)"
For new contributors (esp. if they are new to open source projects), understanding such a big codebase may seem daunting. There should be a section that walks us through the codebase and gives us a **high-level overview**.

The section should go over the following topics:
- **Codebase Tour**: Goes over the project repo and explains how the project is structured
- **Architecture**: Explains the ove

[2022-02-03 15:33] TahsinTunan commented on #285
/kind feature

[2022-02-06 14:07] CIPHERTron commented on #284
I think we should first add a link to https://github.com/kubernetes/community/blob/master/community-membership.md which describes what are the responsibilities for various types of roles.

views @sftim ?

[2022-02-16 17:37] parispittman opened #289 "hard time finding how to contribute to the site itself"
folks want to update the site itself and having hard time figuring how where to find this repo

"edit this site" with a link here

[2022-02-16 19:08] parispittman opened #290 "CONTRIBUTING.md additions for this repo"
need:
- how to build locally
- how to test
- how to preview
- who to contact / sig contribex info

[2022-02-16 19:41] Atharva-Shinde commented on #290
/assign

[2022-02-17 07:05] Atharva-Shinde commented on #289
/assign

[2022-02-17 08:21] Atharva-Shinde commented on #290
The guide on how to set up and run the site locally is in the [Readme.md](https://github.com/kubernetes/contributor-site#running-the-site-locally) file of this repository

[2022-02-17 08:22] Atharva-Shinde commented on #290
The guide on how to set up and run the site locally is already in the [Readme.md](https://github.com/kubernetes/contributor-site#running-the-site-locally) file of this repository

[2022-02-17 08:32] Atharva-Shinde commented on #289
And,
GitHub link at the bottom of [kubernetes.dev](https://www.kubernetes.dev) is redirecting to kubernetes/community repo,
we need  to redirect the link to this i.e kubernetes/contributor-site repository,

this would help in some visibility of this repository

[2022-02-17 08:38] Atharva-Shinde commented on #289
And,
GitHub link at the bottom of [kubernetes.dev site](https://www.kubernetes.dev) is redirecting to [kubernetes/community](https://github.com/kubernetes/community) repo,
which IMO should instead redirect to this repository i.e kubernetes/contributor-site

This would help in gaining some visibility of this repo

[2022-02-18 11:59] #290 closed

[2022-02-18 12:00] mrbobbytables commented on #284
I agree with  linking to our community membership guides first - tbh I really don't want an influx of people opening issues without actually looking at the requirements first.

[2022-02-18 12:04] sftim commented on #284
If folks have the appetite for it, we could add either a flowchart - see https://www.k8s.dev/blog/2021/12/01/improve-your-documentation-with-mermaid.js-diagrams/ for tips - or even something that uses interaction to guide people to find out what steps to take next (eg, talk to corporate legal for the CLA signoff).

[2022-02-18 12:10] mrbobbytables commented on #284
I agree but think we should move this convo to the community repo since the source of the contributor guide is there.
cc @pymander

[2022-02-18 12:12] sftim commented on #289
/kind feature

[2022-02-23 15:07] uroy-personal opened #291 "The link to "Contributor Role Board" in the https://www.kubernetes.dev/docs/guide/first-contribution/ page is broken."

[2022-02-23 23:42] mrbobbytables commented on #291
/transfer community
The root source.

The role board was completely removed

[2022-02-24 20:06] Atharva-Shinde commented on #289
the crux is almost all content on this website is not hardcoded in this repo itself. This content is present in either k/website or k/community or similar other repos.
for example: [The Contributors CheatSheet section](https://www.kubernetes.dev/docs/contributor-cheatsheet/) is imported from [here](https://github.com/kubernetes/community/blob/997e52b172786d3f32f1c76781689b06c2b374e6/contributors/g

[2022-03-04 16:16] mrbobbytables commented on #289
When we looked into this previously, the only good way of doing it was adding an additional frontmatter item with its original location and render that in the footer or something along those lines.

[2022-03-04 16:42] sftim commented on #167
I've assumed that this won't be staffed for some while yet.

[2022-03-23 23:18] parispittman opened #295 "community dashboard"
https://github.com/cncf/devstats/issues/229

moving from devstats as this might be the better place for it anyway.

Display community facts and quantitative information.

-twitter stats for https://github.com/kubernetesio (impressions, shares, etc)
-slack stats (messages sent, # of channels, etc)
-meetup stats (# of meetups, # of members, etc - this is on the website too)
-YouTube playlists - how

[2022-04-10 22:38] SuperAayush commented on #295
Hey @parispittman I wanna work on this issue can you help me out?

[2022-04-28 12:40] sftim opened #305 "Broken images in article K8s CI Bot Helper Job: automating "make update""
https://www.kubernetes.dev/blog/2022/03/15/k8s-triage-bot-helper-ci-job/ includes some images, but they don't work.

I also mentioned this as
https://github.com/kubernetes/contributor-site/pull/293/files#r860838575 which provides some more context about where to fix this.#

/kind bug
/area blog

[2022-04-28 19:04] parispittman commented on #295
@SuperAayush - for sure, come to #sig-contribex on slack

we might be able to use this
https://github.com/cncf/landscape-graph#how-can-a-graph-help-us

[2022-04-29 21:49] halcyondude commented on #295
Yes!  How can I engage?  I've created this so that it could be (specifically) a community dashboard.  Here's a few things of note happening in the project in the last week :)

On hosting logistics:

- (in progress) https://github.com/cncf/landscape-graph/issues/40#issuecomment-1111662444

On prior art
- https://github.com/cncf/landscape-graph/issues/5
  - https://github.com/community-graph
  - htt

[2022-04-30 04:19] AvineshTripathi commented on #295
Hey @halcyondude i have tried looking for docs to try this locally unfortunately I couldn't find one can you help me with this

[2022-04-30 21:48] #263 closed

[2022-05-02 23:00] #202 closed

[2022-05-06 19:20] halcyondude commented on #295
Yes certainly, this is still very early days :)

If you want to experiment today, start here --> https://github.com/cncf/landscape-graph/blob/main/apps/local-docker/local-docker-neo.sh

[2022-05-07 17:22] #60 closed

[2022-05-09 21:30] jberkus commented on #281
/remove-lifecycle rotten

This is still a bug

[2022-05-24 17:09] parispittman opened #312 "place to host annual reports"
need a place to host annual report summaries on the site - k8s.dev/reports?

last year - https://github.com/kubernetes/steering/blob/main/reports/summary-2020.md
this year - https://github.com/kubernetes/steering/blob/main/reports/summary-2021.md

[2022-05-25 12:51] jberkus commented on #312
I'd say resources/annualreports/

[2022-06-06 22:19] jberkus commented on #285
/remove-lifecycle rotten

This is actually a planned feature for the site, so no reason to close the issue.

[2022-06-27 21:34] jberkus opened #316 "Re-arrange Contributor Summit to be self-archiving"
How it is now:

Currently the contributor-summit section of the website looks like this:

[code]

... this means that we have to go through a process of "archiving" each Summit, which not incidentally breaks any links anyone made to the original summit pages.

What we should have is something like this

[code]

events/_index.md would have a list of upcoming events (manually updated, unless we have

[2022-06-28 16:59] Atharva-Shinde commented on #316
/kind feature
looking into it 👀

[2022-06-29 16:03] CIPHERTron commented on #281
/assign

[2022-07-02 23:17] jberkus commented on #289
/remove-lifecycle rotten

I think the immediate solution to this is to have a page on the site about how to contribute to the site, which exposes the complexity.

The eventual solution is to have allmost all of the contents of the site all live in one repo.

[2022-07-06 17:45] jberkus commented on #316
[code]

I don't think we need to have a subdir below 2022/eu/ here.  There's only going to be one summit per region per year.

Agreed that we do need subdirs for "others" though.

[2022-07-15 15:55] chris-short commented on #281
According to https://github.com/kubernetes/contributor-site/blob/master/.github/workflows/netlify-periodic-build.yml runs at 3:30 UTC daily (thus the blog uses UTC time). You have to use \[\*\*Hugo front matter\*\*\](https://gohugo.io/content-management/front-matter/) to establish the date you want to publish your article and set the time to 0330 UTC or earlier, then it should get published.

What

[2022-07-15 15:58] mrbobbytables commented on #281
The config is set to build future, so it ignores the date and builds everything. The makefile just has to be updated to remove that command
https://github.com/kubernetes/contributor-site/blob/master/Makefile#L128

[2022-07-15 16:02] sftim commented on #281
If anyone wants to work on this, I'm happy to explain in detail what the fix could look like.

[2022-07-15 17:12] mrbobbytables commented on #316
IMO - we can probably simplify things with
[code]
we then move community meeting to the community section, we can remove office hours and MoC as they are essentially not happening anymore.

[2022-07-18 17:53] palnabarun commented on #316
Should we preserve links to existing events? People may be referring to them as permalinks, for example, a link from social media to the Contributor Awards page.

[2022-07-18 17:58] jberkus commented on #316
I don't think it's worth the effort to preserve the links.  These are, well, events, and people generally stop caring about them after the event is over.

[2022-07-20 16:52] jberkus commented on #316
So, modifying Bob's tree and adding files:

[code]

[2022-07-20 16:57] mrbobbytables commented on #316
summit.md isn't needed, the most current summit just needs `summit` listed as an alias in its frontmatter to work 👍

[2022-07-20 17:54] jberkus commented on #316
changed.

[2022-07-21 10:37] mk46 commented on #305
/assign

[2022-07-21 13:19] #305 closed

[2022-07-22 11:42] Atharva-Shinde commented on #316
/assign

[2022-07-26 17:19] #316 closed

[2022-07-27 09:36] sftim commented on #202
I'm OK with seeing this issue reopened.

[2022-07-27 19:48] chris-short commented on #202
Without additional data from the search engine webmaster tools I'm not sure we can assess what we've done to date has worked or not. I'm fine putting on my SEO hat if I can get access to the tools that help measure change. More specifically..

[https://search.google.com/search-console](https://search.google.com/search-console)

[https://www.bing.com/webmasters/](https://www.bing.com/webmasters/)

[2022-07-28 10:26] Atharva-Shinde commented on #289
+1 somewhere in the documentation section for now

[2022-07-29 16:12] imnmo commented on #281
Hi, Can I work on this issue?

[2022-07-30 22:42] chris-short commented on #281
Yes, feel free. You don’t need permission. Make sure you follow the steps in the contributor guide to get yourself ready to commit: https://www.kubernetes.dev/docs/guide/

[2022-08-01 15:39] NitishKumar06 opened #325 "Add Best Practices guide to contributing to Kubernetes"
**This is a Feature Request**

Although experienced developers and new folks are contributing to the K8s project. It can be beneficial especially to all the new folks where we can include a page with the motive of "Best practices in the community" depicting what are the things that should be followed and avoided. For eg. Don't spam, Try before asking, Don't work on an issue that has already been a

[2022-08-07 03:07] deveshgoyal1000 commented on #325
It is already there.
https://github.com/kubernetes/community/tree/master/contributors/guide

[2022-08-07 03:09] deveshgoyal1000 commented on #325
It is already there in code of conduct.
https://github.com/kubernetes/community/tree/master/contributors/guide

[2022-08-07 03:10] deveshgoyal1000 commented on #325
It is already there in contributors guide and code of conduct.

[2022-08-07 12:22] NitishKumar06 commented on #325
@deveshgoyal1000 I feel like the document is good but it can be enhanced to make it look better by adding the above points mentioned.

[2022-08-07 13:05] mrbobbytables commented on #325
I agree with @deveshgoyal1000 we have most of this documented in the guide and the cheatsheet.
We are also adding a "new contributor course" that will take people through the processes step by step based off the [new contributor workshops](https://www.youtube.com/playlist?list=PL69nYSiGNLP3M5X7stuD7N4r3uP2PZQUx) that we used to run at in person events.

[2022-08-07 13:31] NitishKumar06 commented on #325
@mrbobbytables May I know what topics does the following course covers?

[2022-08-09 16:34] imnmo commented on #281
Hi Folks,

I have figured out the solution.

Addressing the actual issue by @sftim  with article publishing early than the intended date. My assumption is there is no such feature to schedule posts - I looked up the GH workflow as pointed by @chris-short and it runs daily and just builds them, no special job or stage to schedule posts.

The only option is to understand how Hugo handles scheduling

[2022-08-11 15:54] halcyondude commented on #295
/remove-lifecycle stale

[2022-08-12 00:43] sftim commented on #281
Thanks @imnmo

Please open that PR with a proposed fix. I'll be happy to review it (might not be the same day; sorry about that).

[2022-08-12 00:44] sftim commented on #312
/triage accepted

[2022-08-19 08:12] wuyanpinguniontech commented on #167
Recently, I want to localize some documents. What should I need to do?

[2022-08-19 08:16] sftim commented on #167
@wuyanpinguniontech we haven't yet established what processes to follow

I can say that the main Kubernetes website has some guidance on how to localize that site - https://kubernetes.io/blog/2019/04/26/how-you-can-help-localize-kubernetes-docs/ links to a bunch of this.
If you have the appetite for it, you can make a guide to localizing this site, adapting from the SIG Docs process (you might not

[2022-08-19 08:41] wuyanpinguniontech commented on #167
Thanks for your help. I will learn about the documentation.

[2022-08-25 21:42] sftim commented on #281
@imnmo, could we help you get working on a fix? It's OK to ask for help.

[2022-08-26 07:27] imnmo commented on #281
@sftim unfortunately, I didn't find time past week to provide the PR. I will work on this issue today and create PR for discussions.

[2022-09-01 14:23] imnmo commented on #281
/assign @imnmo

[2022-09-02 08:02] imnmo commented on #281
/close

[2022-09-02 08:04] imnmo commented on #281
Can anyone help me close this issue? I can't, but the PR is merged and can be closed.

[2022-09-02 09:06] sftim commented on #281
/close

[2022-09-02 09:06] #281 closed

[2022-09-09 15:32] imnmo commented on #285
/remove-lifecycle stale

[2022-09-09 15:33] imnmo commented on #285
@mrbobbytables  could you help me with this? I know you are creating the new contributor workshop material and I would be happy to add the content here for new contributors.

[2022-09-15 15:07] sftim commented on #285
/lifecycle frozen

[2022-09-16 10:14] imnmo commented on #285
Hi Folks, any help or pointers for this task would be great for me to kick-start. I am still interested in finishing this task.

[2022-09-27 14:26] abs007 opened #340 "Wrote a blog regarding contributions to Kubernetes"
Hi, I wrote a blog regarding how beginners can get started with Kubernetes contributions and I'd like to add this to https://www.kubernetes.dev/

https://abhii85.hashnode.dev/how-to-get-started-with-k8s-contributions

Please leave your reviews and let me know if the blog can be added. Also, let me know if you'd need the blog content in any other format.

[2022-09-28 00:12] jberkus commented on #340
Howdy, Abhisman!

Your post is really helpful!  However, it reads more like early draft documentation than like a blog post.  Would you be interested in drafting a post that focuses on one element of how to get started?  Like a post just on "Finding and getting started in a SIG", maybe enriched with some of your own personal experience?

[2022-09-28 04:25] abs007 commented on #340
Sure, this might take some time but I'll start with it

[2022-09-30 02:33] sreekaransrinath commented on #289
Is this issue still open to work on?

@Atharva-Shinde mind if I take over and implement @jberkus' suggestions?

[2022-09-30 06:35] Atharva-Shinde commented on #289
Sure@sreekaransrinath, a page describing the structure of this repo would be useful for new contributors

[2022-09-30 23:42] sreekaransrinath commented on #289
/assign

[2022-10-01 01:15] sreekaransrinath opened #342 ""Evolution of this site" section of the might need updates."
<img width="850" alt="image" src="https://user-images.githubusercontent.com/50989977/193377428-e50f6144-62c0-479f-aae2-1bbdff983b05.png">

We're waaay overdue on some of these. I get that some of them are marked as done, but perhaps it's time to move them to a different section (projects, perhaps?)

[2022-10-06 14:36] sarkartanmay393 commented on #167
I would love to contribute to translating it to Bengali.

[2022-10-07 14:47] imnmo commented on #285
Update: I got details to proceed with the architecture. It's a seemingly big issue with a chunk of tasks. I will try to create a task list as I move on. Thanks, @mrbobbytables for the heads up.

[2022-11-10 13:25] NitishKumar06 commented on #325
/close

[2022-11-10 13:25] #325 closed

[2022-11-11 11:36] chalin opened #354 "Migrate kubernetes.dev to Google Analytics 4 (GA4)"
This issue is part of a CNCF-wide effort to upgrade project websites to GA4 since **Google has deprecated Universal Analytics** (UA). For more details, see:

- https://github.com/cncf/techdocs/issues/108, including reference to a suggested [migration process](https://github.com/cncf/techdocs/blob/main/docs/analytics.md#migrating-to-google-analytics-4), which we've used to [migrate a few CNCF proje

[2022-11-11 11:38] chalin commented on #354
@jimangel @onlydole et al.: can one of you either grant me access to this website's Netlify account or add the [Netlify snippet] shown in the opening comment? Thanks!

[Netlify snippet]: https://docs.netlify.com/site-deploys/post-processing/snippet-injection/

[2022-11-11 11:44] chalin opened #355 "Google Analytics 4 migration followup"
This is a followup item to

- #354

### Tasks

- [ ] Drop UA ID once it is no longer receiving events (in 2H2023) or are no longer needed. Given that this site uses the Docsy page-feedback feature, you'll need to add a bogus ID to the config file (at least, that is the required behavior as of the time of writing this).
- [x] #356

[2022-11-11 12:47] chalin opened #356 "Resolve redundant-host issue with www.k8s.dev"
[kubernetes.dev](https://www.kubernetes.dev/) has a number of domain "aliases" that are redirected to the primary site, but  [www.k8s.dev](https://www.k8s.dev) isn't redirected, which analytics reports as a redundant-host issue.

[code]

In contrast, notice how k8s.dev _is_ appropriately redirected:

[code]

/cc @nate-double-u

[2022-11-11 12:51] chalin opened #357 "Ensure that analytics is disabled for non-production builds"
If you look at the page source of a preview build like https://deploy-preview-347--kubernetes-contributor.netlify.app/, you'll see that analytics are enabled. We only want analytics for the main site.

The source of the problem is this config: https://github.com/kubernetes/contributor-site/blob/1a8d9c6dff430129d1ab6998b539f8367aa9171e/netlify.toml#L5-L7

We don't want to specify _all_ builds as be

[2022-11-11 12:54] chalin opened #358 "Consider defining kubernetes.dev as the primary domain"
Currently, `www.kubernetes.dev` is defined as the primary domain. This website should follow more modern convention and use the apex domain as the primary site. Some DNS providers don't support that, but Netlify does. Note that [kubernetes.io](https://kubernetes.io) is setup in that way -- i.e., the apex domain is primary.

/cc @nate-double-u

[2022-11-11 12:56] chalin commented on #357
Note that once the following issues are closed, this issue should be resolved as well (though it can be resolved independently too):

- #354
- #355

[2022-11-11 12:59] chalin opened #359 "Domain config cleanup"
This is an umbrella issue for domain related issues for this website:

- [ ] #358 - which Netlify DNS supports
- [ ] #356
- [ ] Consider handling redirects using Netlify DNS rather than redirect rules (provided the site is using Netlify DNS): https://github.com/kubernetes/contributor-site/blob/1a8d9c6dff430129d1ab6998b539f8367aa9171e/netlify.toml#L16-L38

[2022-11-11 13:03] chalin opened #360 "Upgrade Hugo and Docsy"
The versions of Hugo and Docsy are quite old.

https://github.com/kubernetes/contributor-site/blob/1a8d9c6dff430129d1ab6998b539f8367aa9171e/netlify.toml#L5-L6

For example, Hugo [0.69.2](https://github.com/gohugoio/hugo/releases/tag/v0.69.2) was released in April 2020.

/cc @nate-double-u

[2022-11-11 13:07] chalin commented on #360
Why upgrade? E.g., Docsy's current page-feedback feature is incompatible with GA4 (https://github.com/google/docsy/issues/1302). Since UA is being deprecated and this site is being migrated to GA4 (#354), the a new version of Docsy will eventually be needed. (There is a work-around for the page-feedback issue, so the upgrade isn't urgent.)